:root {
    --accent-color: #2196F3;
    --main-font: 'Robot', sans-serif;
    --secondary-font: 'Raleway';
}

body {
font-family: var(--main-font);
}

a:visited {
    text-decoration: none;
}

.link{
text-decoration: none;
}

.list{
  list-style: none;  
}

.menu-link:focus,
.menu-link:hover{
color: var(--accent-color);
}

/* Header */
.header{
/* width: 1600px;
height: 80px; */
}

.header-nav{
  

}
.header-nav-logo:focus,
.header-nav-logo:hover {
    color: var(--accent-color);
}
.header-nav-logo{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.text-blue{
color: var(--accent-color);
}
.text-gray{
color: #757575;
}

.header-nav-list{

}

.header-nav-list-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #757575;
    letter-spacing: 0.02em;
}

.header-nav-tel {
    /* margin-top: 30px;
    margin-left: 390px;
    margin-bottom: 30px;
    margin-right: 1080px;
    */
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #757575;
    letter-spacing: 0.02em;
}
.header-nav-mail {
    /* margin-top: 30px;
    margin-left: 390px;
    margin-bottom: 30px;
    margin-right: 1080px;
    */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #757575;
    letter-spacing: 0.02em;
}
.header-nav-list-item:hover,
.header-nav-list-item:focus,
.header-nav-mail:hover,
.header-nav-mail:focus,
.header-nav-tel:hover,
.header-nav-tel:focus {
    color: var(--accent-color)
}


/* Main */
.hero{
    width: 1600px;
    height: 600px;
    background: #2F303A;

}
.hero-title{
    padding-top: 200px;
    padding-left: 450px;
    padding-bottom: 200px;
    padding-right: 450px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.modal-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.modal-btn:hover{
 color: rgb(0, 0, 0);   
}
.modal-btn:focus {
    color:black;
}

/* Peculiarities */
.peculiarities{

}

/* About Us */
.about-us{

}
