:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --medium-color: #757575;
    --light-color: #FFFFFF;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

body {
font-family: var(--main-font);
}

a:visited {
    text-decoration: none;
}

.link{
text-decoration: none;
}

.list{
  list-style: none;  
}
.text-accent {
    color: var(--accent-color);
}
.text-main {
    color: var(--main-color);
}
.text-medium {
    color: var(--medium-color);
}
.text-light {
    color: var(--light-color);
}

.link:focus,
.link:hover {
color: var(--accent-color);
}

/* Header */
.header-nav-logo{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.header-nav-logo:focus,
.header-nav-logo:hover {
    color: var(--accent-color);
}

.header-nav-list-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.header-nav-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}
.header-nav-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}
.header-nav-list-item:hover,
.header-nav-list-item:focus,
.header-nav-mail:hover,
.header-nav-mail:focus,
.header-nav-tel:hover,
.header-nav-tel:focus {
    color: var(--accent-color)
}
/* Main */
.hero{
    width: 1600px;
    height: 600px;
    background: #2F303A;
}

.hero-title{
    padding-top: 200px;
    padding-left: 450px;
    padding-bottom: 200px;
    padding-right: 450px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.modal-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: white;
    background-color:var(--accent-color);
}
.modal-btn:hover,
.modal-btn:focus{
 color: var(--main-color);   
}
 
/* Peculiarities */
.peculiarities{
    color: #212121;
}
.peculiarities-titles{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.peculiarities-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


/* About Us */
.about-us{
    color: #212121;
}
.about-titles{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Portfolio page */
.main-nav-list {
    color: var(--main-color);
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
}

.main-nav-list:hover,
.main-nav-list:focus {
    color: var(--light-color) ;
    background-color: var(--accent-color);
   }

.card-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--main-color);
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: left;

}

.footer-list {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-color);
}

.adress {
    background-color: #2F303A;
}